body {
  font-family: Arial, sans-serif;
  margin: 0;
  
}


header {
  background-color: #f2a900;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul li {
  margin-right: 20px;
  list-style: none;
  display: inline-block ;
  position: relative;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.2em;
}
nav ul li::after{
  content:"";
  height:3px;
  width: 0;
  background: #009688;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}
nav ul li:hover::after{
  width: 100;
}
.content {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.8);
}
